<%= form_for @message, remote: true do |f| %>
	<div class="form-group">
		<%= f.text_field :content, placeholder: "Have your say... press Enter to submit", class: "form-control" %>
	</div>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :room_id, value: @room.id %>
	<%= f.submit "Say It", class: "invisible" %>
<% end %>


<div id="room_messages" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
	<% @room.messages.each do |message| %>
		<div class="row">
			<div class="col-md-1">
				<i class="fas fa-portrait fa-4x"></i>
			</div>
			<div class="message col-md-11">
				<p><strong><%= message.user.handle %></strong> <small><%=  message.created_at.strftime("%I:%M%p") %></small></p>
				<p><%= message.content %></p>
			</div>
		</div>
	<% end %>
</div>